* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  text-decoration: none;
}

html {
  font-size: 62, 5;
}

header {
  background-image: -webkit-gradient(linear, left top, right top, from(#ffde59), color-stop(#ffde53), color-stop(#ffde4c), color-stop(#ffde45), color-stop(#ffde3d), color-stop(#fee041), color-stop(#fce346), color-stop(#fbe54a), color-stop(#f9ea59), color-stop(#f7ef68), color-stop(#f5f476), to(#f4f984));
  background-image: linear-gradient(to right, #ffde59, #ffde53, #ffde4c, #ffde45, #ffde3d, #fee041, #fce346, #fbe54a, #f9ea59, #f7ef68, #f5f476, #f4f984);
}

h1 {
  color: black;
  font-size: 80px;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
}

.header__logo {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 500px 1000px;
  grid-template-columns: 500px 1000px;
  -ms-grid-rows: 75px 40px;
  grid-template-rows: 75px 40px;
}

.navegacion li {
  text-align: center;
  display: inline-block;
}

.navegacion li a {
  text-decoration: none;
  font-size: 30px;
  padding: 0px;
  color: black;
  -webkit-transform: scale(1, 1.5);
  transform: scale(1, 1.5);
  -webkit-transition: all 1s;
  transition: all 1s;
}

.header__nav {
  margin: 5px 50px;
  text-align: center;
}

.navegacion li a:hover {
  background-color: red;
  border-radius: 15px;
  color: white;
}

h2 {
  color: red;
  text-align: center;
  font-size: 40px;
  text-transform: uppercase;
  font-family: sans-serif;
  font-weight: bold;
}

body {
  background-color: #fafab3;
}

footer {
  background-color: #fafab3;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 300fr 400fr 300fr;
  grid-template-columns: 300fr 400fr 300fr;
  -ms-grid-rows: 350fr 50fr;
  grid-template-rows: 350fr 50fr;
  grid-column-gap: 300fr;
  grid-template-areas: "contacto ubicacion sugerencias""contacto ubicacion newsletter""contacto sitio     newsletter";
}

.footer__secciones {
  display: inline-block;
  font-size: 20px;
  margin: 40px 100px;
}

#contacto {
  grid-area: contacto;
}

#contacto ul li {
  display: block;
}

#ubicacion {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

#sugerencias {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  grid-area: sugerencias;
}

#newsletter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-grid-row-span: 2;
  grid-area: newsletter;
}

.input {
  height: 10px;
  width: 10px;
  -webkit-transition: 1s;
  transition: 1s;
}

.input:focus {
  width: 20px;
}

.redes li a {
  text-decoration: none;
  text-align: center;
}

footer h3 {
  color: blue;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

h4 {
  color: #490450;
  grid-area: sitio;
}

/*index*/
.video {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

/*productos*/
.productosDePicadas {
  color: blue;
}

.picadaGourmet,
.picadaMediterranea,
.picadaDeCampo,
.picadaClasica {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
}

.imagenes {
  border-radius: 40px;
  -webkit-transition: -webkit-transform .1s;
  transition: -webkit-transform .1s;
  transition: transform .1s;
  transition: transform .1s, -webkit-transform .1s;
  width: 115px;
  height: 115px;
}

.imagenes:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.picadas li {
  color: maroon;
  text-decoration: none;
  text-align: left;
}

.margen {
  margin-top: 15px;
}

.nombrePicadas {
  color: red;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-top: 40px;
  margin-bottom: 20px;
}

.borde {
  border: black;
}

.ingredientesPrecio img {
  height: 400px;
  width: 450px;
}

.flexbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: right;
  -ms-flex-pack: right;
  justify-content: right;
}

.precios {
  font-size: 40px;
  border-color: red;
  border-style: none;
  border-radius: 15px;
  background-color: #ffde59;
  color: white;
}

/*medios de pago*/
.explicacionPagos {
  margin-top: 40px;
  margin-bottom: 40px;
  border: solid black;
  background-color: white;
}

#tarjetas {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 60px 500px;
  grid-template-columns: 60px 500px;
  -ms-grid-rows: 60px 140px;
  grid-template-rows: 60px 140px;
}

p {
  margin-top: 12px;
  margin-bottom: 12px;
  font-size: 20px;
}

.nombreMedio {
  font-size: 35px;
}

/*preguntas frecuentes*/
.acordeon {
  background-color: #ff5959;
}

